<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span style="font-family: CAC Pinafore; font-size:45px;">Comitiva Esperança</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <img src="assets/img/LogoComitiva.png" width="210" height="200"/>
    <br>
    <mat-divider></mat-divider>
    <!--    <button mat-button class="menu-buttons">-->
    <!--      <mat-icon>search</mat-icon>-->
    <!--      <a class="menu-link" href="consultas">Consultas</a>-->
    <!--    </button>-->
    <button mat-button class="menu-buttons">
      <mat-icon>perm_identity</mat-icon>
      <a class="menu-link" href="candidato">Candidatos</a>
    </button>
    <button mat-button class="menu-buttons">
      <mat-icon>store</mat-icon>
      <a class="menu-link" href="empresa">Empresas</a>
    </button>
    <button mat-button class="menu-buttons">
      <mat-icon>work_outline</mat-icon>
      <a class="menu-link" href="vaga">Vagas</a>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
