<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span style="font-family: CAC Pinafore; font-size:45px;">Comitiva Esperança</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <img src="assets/img/logo2sf.png" width="180" height="180"/>
    <br>
    <mat-divider></mat-divider>
    <button mat-button class="menu-buttons">
      <mat-icon>group</mat-icon>
      <a class="menu-link" href="familia">Família</a>
    </button>
    <button mat-button class="menu-buttons">
      <mat-icon>accessibility_new</mat-icon>
      <a class="menu-link" href="participante">Participante</a>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
