mat-sidenav{
  margin: 16px;
  width: 250px;
  border-right: none;
  background: #004853;
  color: lightgray;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

#imageIcon{
  width: 40px;
  height: 40px;
  color: white;
}

.mat-icon {
  color: white;
  transform: scale(1.5);
}

.mat-toolbar.mat-primary {
  background: #004853;
  color: #fff;
}

mat-divider{
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-buttons{
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: flex-start ;
  font-size: 1.05rem;
  padding-left: 30px;
}

.container{
  height: calc(100vh - 98px);
  margin: 16px 16px 16px 32px;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
}


a {
  color: lightgray;
  text-decoration: none;
  padding-left: 3px;
}
