<div class="container-fluid">
  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
    <div class="form-container">
      <form [formGroup]="familiaForm" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-card-title>Dados Pessoais do Pai</mat-card-title>
          <br>
          <input  formControlName="id" hidden>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Endereço</mat-label>
            <input  formControlName="endereco" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nome Pai</mat-label>
            <input  formControlName="paiNome" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nascimento Pai</mat-label>
            <input formControlName="paiNascimento" type="text" date='dd-MM-yyyy' matInput placeholder="dd/mm/yyyy">
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Turma Pai</mat-label>
            <input  formControlName="paiTurma" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Ocupação Pai</mat-label>
            <input  formControlName="paiOcupacao" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Contato Pai</mat-label>
            <input  formControlName="paiContato" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nome Mãe</mat-label>
            <input  formControlName="maeNome" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nascimento Mãe</mat-label>
            <input formControlName="maeNascimento" type="text" date='dd/MM/yyyy' matInput placeholder="dd/mm/yyyy">
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Turma Mãe</mat-label>
            <input  formControlName="maeTurma" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Ocupação Mãe</mat-label>
            <input  formControlName="maeOcupacao" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Contato Mãe</mat-label>
            <input  formControlName="maeContato" matInput>
          </mat-form-field>
          <br>

        </mat-card>
        <br>

        <div formArrayName="dependentes" id="divDependente" hidden>
          <mat-card>
            <mat-card-title>Dependentes</mat-card-title>
            <br>
            <div *ngFor="let exp of dependentes().controls; let i = index" [formGroupName]="i">
              <h3 style="padding-left: 30px;"><strong>Dependente {{i + 1}}</strong></h3>
<!--              <mat-form-field class="form-field" appearance="outline" hidden>-->
<!--                <input matInput formControlName="dependenteId">-->
<!--              </mat-form-field>-->

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Nome Dependente</mat-label>
                <input matInput formControlName="dependenteNome">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Nascimento Dependente</mat-label>
                <input formControlName="dependenteNascimento" type="text" date='dd/MM/yyyy' matInput placeholder="dd/mm/yyyy">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Parentesco</mat-label>
                <input matInput formControlName="dependenteParentesco">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Turma Dependente</mat-label>
                <input matInput formControlName="dependenteTurma">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Contato Dependente</mat-label>
                <input matInput formControlName="dependenteContato">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Estuda?</mat-label>
                <input matInput formControlName="estuda">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Escolaridade</mat-label>
                <input matInput formControlName="escolaridade">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Tamanho Pé</mat-label>
                <input matInput formControlName="tamanhoPe">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Tamanho Calça</mat-label>
                <input matInput formControlName="tamanhoCalca">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Tamanho Camisa</mat-label>
                <input matInput formControlName="tamanhoCamisa">
              </mat-form-field>

              <div class="divDeletar">
                <mat-icon (click)="removeDependente(i)" style="float:right; padding-right:50px">delete</mat-icon>
              </div>
              <br>
            </div>
          </mat-card>
        </div>
        <br/>
        {{ this.familiaForm.value | json }}
        <br>
        <div class="buttonForm">
          <button
            mat-raised-button
            type="button"
            color="primary"
            (click)="addDependente()"
          >
            Adicionar Dependente
          </button>
        </div>
        <br/>
        <div class="buttonForm">
          <button mat-raised-button type="submit" color="warn">Submit</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
