<div class="container-fluid">
  <mat-card>
    <div class="form-container">
      <form [formGroup]="familiaForm" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-card-title>Dados Pessoais do Pai</mat-card-title>
          <br>
          <input ngModel formControlName="id" hidden>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nome Pai</mat-label>
            <input ngModel formControlName="paiNome" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nascimento Pai</mat-label>
            <input ngModel formControlName="paiNascimento" type="date" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Turma Pai</mat-label>
            <input ngModel formControlName="paiTurma" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Ocupação Pai</mat-label>
            <input ngModel formControlName="paiOcupacao" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Contato Pai</mat-label>
            <input ngModel formControlName="paiContato" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nome Mãe</mat-label>
            <input ngModel formControlName="maeNome" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nascimento Mãe</mat-label>
            <input ngModel formControlName="maeNascimento" type="date" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Turma Mãe</mat-label>
            <input ngModel formControlName="maeTurma" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Ocupação Mãe</mat-label>
            <input ngModel formControlName="maeOcupacao" matInput>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Contato Mãe</mat-label>
            <input ngModel formControlName="maeContato" matInput>
          </mat-form-field>
          <br>

        </mat-card>
        <br>

        <div formArrayName="dependentes" id="divDependente" hidden>
          <mat-card>
            <mat-card-title>Dependentes</mat-card-title>
            <br>
            <div *ngFor="let exp of dependentes().controls; let i = index" [formGroupName]="i">
              <h3 style="padding-left: 30px;"><strong>Dependente {{i + 1}}</strong></h3>
              <mat-form-field class="form-field" appearance="outline" hidden>
                <input matInput formControlName="dependenteId">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Nome Dependente</mat-label>
                <input matInput formControlName="dependenteNome">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Nascimento Dependente</mat-label>
                <input ngModel formControlName="dependenteNascimento" type="date" matInput>
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Parentesco</mat-label>
                <input matInput formControlName="dependenteParentesco">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Turma Dependente</mat-label>
                <input matInput formControlName="dependenteTurma">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Contato Dependente</mat-label>
                <input matInput formControlName="dependenteContato">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Estuda?</mat-label>
                <input matInput formControlName="estuda">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Escolaridade</mat-label>
                <input matInput formControlName="escolaridade">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Tamanho Pé</mat-label>
                <input matInput formControlName="tamanhoPe">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Tamanho Calça</mat-label>
                <input matInput formControlName="tamanhoCalca">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Tamanho Camisa</mat-label>
                <input matInput formControlName="tamanhoCamisa">
              </mat-form-field>

              <div class="divDeletar">
                <mat-icon (click)="removeDependente(i)" style="float:right; padding-right:50px">delete</mat-icon>
              </div>
              <br>
            </div>
          </mat-card>
        </div>
        <br/>
        {{ this.familiaForm.value | json }}
        <br>
        <div class="buttonForm">
          <button
            mat-raised-button
            type="button"
            color="primary"
            (click)="addDependente()"
          >
            Adicionar Dependente
          </button>
        </div>
        <br/>
        <div class="buttonForm">
          <button mat-raised-button type="submit" color="warn">Submit</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
