.container-fluid{
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  alignment: center;
  height: 100%;
}

#botaoCadastroFamilia{
  margin-bottom: 10px;
  margin-right: 10em;
  float: right;
  min-width: unset!important;
}

.mat-mdc-card{
  height: 100%;

}

.tituloCard{
  display: float;
  padding:10px;
  margin-left: 20px;
  margin-top: 10px;
}

.gridAlign{
  margin-left: 10em;
  margin-right: 10em;
}

a {
  color: black;
  text-decoration: none;
}



