<div class="container-fluid">
  <mat-card>
    <div>
      <div class="tituloCard" titulo>
        <h1>Famílias</h1>
      </div>
      <div>
        <jqxButton id="botaoCadastro" [width]='130' [height]='30'>
          <a class="menu-link" href="formfamilia">Cadastrar Família</a>
        </jqxButton>
      </div>
    </div>
    <div class="gridAlign">
      <jqxGrid #myGrid
               [width]="'600px'" [height]="'600px'" [filterbarmode]="'simple'" [showfilterbar]="true"
               [source]="source"
               [columns]="columns" [filterable]="true"
               [sortable]="true">
      </jqxGrid>
    </div>
  </mat-card>
</div>

