.container-fluid{
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  alignment: center;
  height: 100%;
}

.mat-mdc-card{
  height: 100%;
}

#botaoCadastro{
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 3em;
  min-width: unset!important;
  display:flex;
  justify-content: flex-end;
}

.tituloCard{
  position: absolute;
  padding-top:10px;
  margin-left:3em;
  margin-top:10px;
  float:right;
}

.gridAlign{
  margin-left: 3em;
  margin-right: 3em;
}

a {
  color: black;
  text-decoration: none;
}



