@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'jqwidgets-ng/jqwidgets/styles/jqx.base.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "CAC Pinafore";
  src: url('assets/fonts/CACPicafore.ttf');
}

html, body {
  height: 100%;
}
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  width: 100%;
  margin: 0px auto;
}

.form-field{
  display: block;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
